<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinShell.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WinShell.My.MySettings>
            <setting name="show_pfp_outside_form" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="start_in_non_tile_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color_tiles_by_manifest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tilecolor_appname" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>PowerPoint</string>
                        <string>Word</string>
                        <string>Excel</string>
                        <string>OneNote</string>
                        <string>Microsoft Edge</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="tilecolor_corresp_color" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>default</string>
                        <string>default</string>
                        <string>default</string>
                        <string>default</string>
                        <string>default</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="round_edges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flags_info" serializeAs="String">
                <value>Experimental Feature Flags

show_pfp_outside_form =&gt; displays the profile picture sticking out of the top of the form.
default value = False

start_in_non_tile_mode =&gt; removes the tile view section from the form.
default value = False

color_tiles_by_manifest =&gt; colors the tiles based on user and some prefab schemes.
default value = False

round_edges =&gt; makes the edges in and of the app rounded. Disable for slower systems.
default value = True

round_allapps_list =&gt; controls the display of round borders for just the all apps list. Disabled
by default for increased performance without compromising visual appeal.

startmenu_backimg_location =&gt; Sets a background image for the start menu. Works only
when start_in_non_tile_mode is True. May reduce performance on slow systems.

openclose_animation =&gt; Suble fade-in and fade-out animation for the form when launching
and closing, Disable for better performance, but may result in an abrupt experience.

transparent =&gt; Enables/Disables transparency. Disabling may improve performance on slower
systems.
default value = True

_____________________________________________________________________

Tile Color Settings ( used if color_tiles_by_manifest is True )

tilecolor_appname =&gt; list of appnames in defined order

tilecolor_corresp_color =&gt; list of tile colors of corresponding app
</value>
            </setting>
            <setting name="round_allapps_list" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startmenu_backimg_location" serializeAs="String">
                <value />
            </setting>
            <setting name="openclose_animation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="transparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>5, 100, 155</value>
            </setting>
            <setting name="Dark" serializeAs="String">
                <value>False</value>
            </setting>
        </WinShell.My.MySettings>
    </userSettings>
</configuration>